.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1 {
  font-size: 2em;
  margin: 0.5em 0;
  text-align: center;
}

.input-search {
  display: flex;
  width: 250px;
  height: 32px;
  border: 1px solid black;
  border-radius: 8px;
}

.input-search .input {
  width: 80%;
  padding-left: 8px;
  border: none;
}

.input-search .input:focus {
  outline: none;
}

.input-search .button {
  width: 20%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8px;
  margin: 0 auto;
}

.card-image {
  width: 300px;
}

.card-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.card-image .description {
  text-align: justify;
}
